*.iml
.gradle/
*.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
compose_compiler_reports/
.agents/
.kotlin/
.vscode/
*.jks
*.keystore
*.keystore.jks
build_output.log
gradle/
!gradle/wrapper/
!gradle/libs.versions.toml
spicy-lyrics/